@{
    ViewBag.Title = "Home";
}

<style>
    .col-md-4 {
        border: 1px solid gray;
        border-radius: 10px;
        margin: 1% 8%;
        box-shadow: 2px 2px 5px gray;
    }
    

    .jumbotron{
        transition: 0.5s all;
    }
</style>

<div class="jumbotron" style="background-color: var(--body-bg)">
    <h1>Pet Shop</h1>
    <p> Os Melhores serviços para os nossos amiguinhos !!!</p>
</div>

<div class="row">
    <!-- ########## DONOS ########## -->

    <div class="col-md-4">
        <h2>Donos</h2>
        <p>Para ver mais informações sobre os donos clique no botão abaixo.</p>
        <p><a style="background-color: #7B68EE" class="btnn btn-default" href="/Dono"><b>Donos</b> &raquo;</a></p>
    </div>

    <!-- ########## CÃES ########## -->
    <div class="col-md-4">
        <h2>Cães</h2>
        <p>Para ver mais informações sobre os cães clique no botão abaixo.</p>
        <p><a style="background-color: #FF4500" class="btnn btn-default" href="/Cao"><b>Cães</b> &raquo;</a></p>
    </div>

    <!-- ########## RAÇAS ########## -->
    <div class="col-md-4">
        <h2>Raças</h2>
        <p>Para ver mais informações sobre as raças clique no botão abaixo.</p>
        <p><a style="background-color: #FF1493" class="btnn" href="/Raca"><b>Raças</b> &raquo;</a></p>
    </div>


    <!-- ########## CÃES E DONOS ########## -->
    <div class="col-md-4">
        <h2>Cães e Donos</h2>
        <p>Para ver a relação entre os donos e seus respectivos cães clique no botão abaixo.</p>
        <p><a style="background-color: #2E8B57 " class="btnn btn-default" href="/Cao_Dono"><b>Relacionamento</b> &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Produtos e Serviços</h2>
        <p>Para ver mais informações sobre nossos produtos ou serviços clique no botão abaixo.</p>
        <p><a style="background-color: #4169E1" class="btnn btn-default" href="/Servicos"><b>Produtos e Serviços</b> &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Comprar</h2>
        <p>Para comprar nossos produtos clique no botão abaixo.</p>
        <p><a style="background-color: #00FFFF" class="btnn btn-default" href="/Oferta"><b>Comprar</b> &raquo;</a></p>
    </div>


</div>